<ion-header [translucent]="true">
  <ion-toolbar color="redm">

    <ion-item color="redm" class="tituloToolbarPage">
      Mecânicos
    </ion-item>

    <ion-buttons slot=start>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-thumbnail class="photoMechanic animate__animated animate__fadeInRight">
          <img src="../../assets/img/mechanictransp.png" />
        </ion-thumbnail>

        <p class="textM animate__animated animate__fadeInRight">
          Venha para a Mapp7
        </p>

        <p class="textM animate__animated animate__fadeInRight">
          Participe do nosso aplicativo e trabalhe para nós, todos os usuários que
          se cadastrarem poderão chamar por seu serviço. <br /><br />
          Coloque sua especialização e sua equipe e venha participar do melhor
          delivery de serviços mecânicos do Brasil.
        </p>

        <br>
        <br>


        <ion-thumbnail class="photoMechanic2 animate__animated animate__fadeInLeft">
          <img src="../../assets/img/podio.png" />
        </ion-thumbnail>

        <p class="textM animate__animated animate__fadeInLeft">
          Contamos com um sistema de avaliação que após o serviço oferecido, o
          usuário avalia o mecânico com uma nota de 1 a 5 chaves inglesas
          (estrelas).
        </p>

        <p class="textM animate__animated animate__fadeInLeft">
          Premiações em dinheiro serão feitas aos três melhores mecânicos da
          semana, onde ganharão uma divulgação na página principal do aplicativo o
          mês inteiro até que outro assuma o lugar.
        </p>



      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>