<ion-header [translucent]="true">
  <ion-toolbar color="redm">

    <ion-item color="redm" class="tituloToolbarPage">
      Contato
   </ion-item> 

    <ion-buttons slot=start>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>

        <p class="textM animate__animated animate__fadeInLeft">
          Entre em contato conosco...
        </p>

        <p class="textM animate__animated animate__fadeInLeft">
          Suporte: mapp7enterprise@gmail.com
        </p>

        <p class="textM animate__animated animate__fadeInLeft">
        Para esclarecimento de dúvidas, sugestões,
        ligue para: 0800 771 1098
      </p>

      <p class="textM animate__animated animate__fadeInRight">
        Siga nossas redes sociais:
        
        <p class="textM">
          <a href="#">
            <ion-icon name="logo-facebook" color="redm" class="sizeIcon animate__animated animate__backInLeft"></ion-icon>
          </a>
          &nbsp;&nbsp;
          <a href="#">
            <ion-icon name="logo-twitter" color="redm" class="sizeIcon animate__animated animate__backInUp"></ion-icon>
          </a>
          &nbsp;&nbsp;
          <a href="#">
            <ion-icon name="logo-instagram" color="redm" class="sizeIcon animate__animated animate__backInRight"></ion-icon>
          </a>

      </p>

      <p class="textM animate__animated animate__backInUp">
        Todos os direitos reservados <br>
		    © 2020 Mapp7
      </p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
