.question {
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
    font-size: 15px;
    color: #e02041;
    font-weight: bold;
}
.answer {
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
    font-size: 15px;
}
