<ion-header [translucent]="true">
  <ion-toolbar color="redm">

    <ion-item color="redm" class="tituloToolbarPage">
      Sobre
    </ion-item>

    <ion-buttons slot=start>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col>

        <ion-thumbnail class="photoM animate__animated animate__fadeInLeft">
          <img src="../../assets/img/mulher.png" />
        </ion-thumbnail>

        <p class="textM animate__animated animate__fadeInLeft">
          Mapp7 é um sistema de delivery dos serviços mecânicos em automóveis, com
          nossa tecnologia, oferecemos um relacionamento pelo seu celular entre o
          você e o profissional atuando na área específica de sua necessidade.
        </p>

        <br>
        <br>


        <ion-thumbnail class="photoM animate__animated animate__fadeInRight">
          <img src="../../assets/img/homem.png" />
        </ion-thumbnail>

        <p class="textM animate__animated animate__fadeInRight">
          Escolha o preço que mais cabe no seu bolso e basta um clique para que um
          mecânico chegue até você. Contamos com um excelente metódo de avaliação,
          onde levaremos até você um profissional qualificado que solucione seu
          problema.
        </p>



      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>