/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-title{
    font-family: 'Roboto', sans-serif;
}

ion-label{
    font-family: 'Roboto', sans-serif;
}

ion-text {
    font-family: 'Roboto', sans-serif;
}

.logoToolbar {
    position: flex;
    margin: 0 auto;
    margin-bottom: 0;
    width: 60px;
    }
    
    .tituloToolbar {
      position: flex;
      margin-left: 20px;
      font-size: 30px;
      text-align: center !important;
    }

    .tituloToolbarPage {
        position: flex;
        margin-left: 20px;
        font-size: 25px;
      }

    .logoMenu {
        max-width: 125px;
        max-height: 75px;
        width: auto;
        height: auto;
        margin: 0 auto;
        margin-left: 75px;
    }

    .logoHome {
        max-width: 200px;
        max-height: 150px;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .textH {
        font-family: 'Roboto', sans-serif;
        display: flex;
        color: #e02041;
        font-size: 25px;
        font-weight: bolder;
    }

    .optionT {
        font-family: 'Roboto', sans-serif;
        display: flex;
        font-size: 20px;
        font-weight: bolder;
    }

    .photoM {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
        margin: 0 auto;
        border: 5px solid #e02041;
        border-radius: 10px;
    }
    
    .textM {
        font-family: 'Roboto', sans-serif;
        text-align: center !important;
        font-size: 23px;
    }

    .alignItens {
        margin: 0 auto !important;
    }

    .textHome {
        font-family: 'Roboto', sans-serif;
        text-align: center !important;
        font-size: 40px;
        color: #e02041;
        font-weight: bolder;
    }

    .textHome2 {
        font-family: 'Roboto', sans-serif;
        text-align: center !important;
        font-size: 30px;
        color: #e02041;
        font-weight: bolder;
    }
    