<ion-header [translucent]="true">
  <ion-toolbar color="redm">

<ion-item color="redm" class="tituloToolbar">

      <ion-thumbnail>
        <img class="logoToolbar" src="assets/img/logotcc.png" alt="foto">
      </ion-thumbnail>

        &nbsp; &nbsp; Mapp7
      
     </ion-item> 

    <ion-buttons slot=start>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>

      <ion-col size="8">

        <p class="textHome">
          SEJA MUITO BEM VINDO
        </p>

        <p class="textHome2">
          Um serviço certo a um clique de distância...
        </p>

        <p class="textHome2">
          É um prazer tê-lo conosco, fique a vontade para conhecer o futuro...
        </p>

        <br> 

        <p class="textM">
          Experimente e conheça aplicativo através de informações que estão presentes no site.
        </p>

        <p class="textM">
          Faça a download e começe a usar
          o serviço que melhor faz o
          relacionamento entre cliente e mecânico.
        </p>

        <ion-col size="5">
          <a href="#" >
            <img src="assets/img/gplay.png" alt="foto">
          </a>

      </ion-col>
      </ion-col>

      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
